<h1>Events Calendar</h1>
<h3>What needs to be done</h3>
<ul>
  <li>Sync with our Google calendar</li>
  <li>Use the <%= link_to "Google API", "https://developers.google.com/google-apps/calendar/" %></li>
  <li>Look pretty</li>
</ul>
