<%# Warning if the mailchimp api key is not found, not visible in production. %>
<% if @mailchimp.class == NewsletterHelper::FakechimpWrapper %>
  <% if Rails.env.production? %>
    <div class="row-fluid">
      <div class="col-sm-12">
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Error:</strong> No valid Mailchimp API Key found, please contact
          a committee member at <%= mail_to "minds@nuimsu.com" %>.
        </div>
      </div>
    </div>
  <% else %>
    <div class="row-fluid">
      <div class="col-sm-12">
        <div class="alert alert-warning" role="alert">
          <strong>Warning:</strong> No valid Mailchimp API Key found, using fake data.
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <%# Left aligned list of campaigns. %>
  <div class="hidden-xs col-sm-3 col-md-2">
    <h3>Archive</h3>
    <ul class="nav nav-pills nav-stacked">
      <% @campaign_list.each do |campaign| %>
        <li role="presentation"><%= link_to campaign['title'], "/newsletter/#{campaign['id']}" %></li>
      <% end %>
    </ul>
  </div>

  <%# Centered articles %>
  <div class="col-xs-12 col-sm-9 col-md-10">

    <% if @campaign_title.nil? %>
      <div class="alert alert-danger" role="alert">
        <strong>Invalig campaign ID</strong>
      </div>

    <% else %>

      <h3><%= @campaign_title %></h3>
      <div class="alert alert-warning" role="alert">
        <strong>Not yet implemented</strong>, need to parse out body content using
        Nokogiri. See <%= link_to 'github.com/MindsSociety/Compsoc-Website/issues/1', 'https://github.com/MindsSociety/Compsoc-Website/issues/1', class: 'alert-link' %>.
      </div>
      <div class="panel panel-default">
        <div class="panel-body">
          <!-- dump email content here -->
        </div>
      </div>
    <% end %>
  </div>
</div>
