<%# Warning if the mailchimp api key is not found, not visible in production. %>
<% if @mailchimp.class == NewsletterHelper::FakechimpWrapper %>
  <% if Rails.env.production? %>
    <div class="row-fluid">
      <div class="col-sm-12">
        <div class="alert alert-warning" role="alert">
          <strong>Error:</strong> No valid Mailchimp API Key found, please contact
          a committee member at <%= mail_to "minds@nuimsu.com" %>.
        </div>
      </div>
    </div>
  <% else %>
    <div class="row-fluid">
      <div class="col-sm-12">
        <div class="alert alert-warning" role="alert">
          <strong>Warning:</strong> No valid Mailchimp API Key found, using fake data.
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row-fluid">
  <div class="col-sm-12">
    <h1>News</h1>
  </div>
</div>

<section id="newsletter">
  <div class="row-fluid">

    <%# Left aligned list of campaigns. %>
    <div class="hidden-xs col-sm-3">
      <h3>Archive</h3>
      <ul class="list-group">
        <% @campaign_list.each do |x| %>
          <li class="list-group-item"><%= link_to x['title'] %></li>
        <% end %>
      </ul>
    </div>

    <%# Centered articles %>
    <div class="col-xs-12 col-sm-9">
      <h3>What needs to be done</h3>
      <ul>
        <li>Integration with <%= link_to "Mailchimp API", "http://developer.mailchimp.com/documentation/mailchimp/?utm_source=apidocs&utm_medium=internal_ad&utm_campaign=api_v3" %></li>
        <li>Sign up button</li>
        <li>Nicer looking sider bar</li>
        <li>Campaign list for mobile devices - I have no idea what to do with this</li>
        <li>Display latest Campaign</li>
        <li><strong>Done</strong>Display a list of most recent campaigns</li>
        <ul>
          <li>Can be accomplished with a GET campaigns/campaign_id</li>
          <li>Still need to link to the emails and implement <code>newletter_controller#get_campaign</code>
        </ul>
      </ul>
    </div>
  </div>
</section>
