<h1>News</h1>
<h3>What needs to be done</h3>
<ul>
  <li>Integration with <%= link_to "Mailchimp API", "http://developer.mailchimp.com/documentation/mailchimp/?utm_source=apidocs&utm_medium=internal_ad&utm_campaign=api_v3" %></li>
  <li>Sign up button</li>
  <li>Display latest Campaign</li>
  <li>Display a list of most recent campaigns</li>
    <ul>
      <li>Can be accomplished with a GET campaigns/campaign_id</li>
    </ul>
</ul>
