<h1>IRC</h1>
<h3>What needs to be done</h3>
<ul>
  <li>Connect to the Minds server - either Frustration or the new box</li>
  <li>Connect to an instance of IRC running (probably) in a docker container</li>
  <li>Connect to the <strong>Intersocs IRC</strong> (ask Karl)</li>
  <li>Web viewer for the IRC</li>
  <ul>
    <li>Automatic sign in to IRC if signed into the site</li>
    <li>Assuming we get that up and running</li>
    <li>There's probably a gem for that</li>
  </ul>
</ul>
